*.o
callgrind.*
cpareia
experimentos/*
experimentos/*
input/*

/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/compile
/config.log
/config.status
/configure
/depcomp
/install-sh
/missing
/src/.deps
/src/.dirstamp
/src/Makefile
/src/Makefile.in
/tests/.deps
/tests/Makefile
/tests/Makefile.in
/test-driver
